:root {
    --primary-color: #562EFF;
    --fill-color: #F3F1FF;
    --instructor: #ED6B4F;
    --gray-design: #717374;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--fill-color);
    width: 100%;
    height: 100vh;
}

.head-container {
    background-color: var(--primary-color);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 20px;
}

.icon-name {
    display: flex;
    align-items: center;
}

.icon-name>img {
    width: 35px;
}

.icon-name h1 {
    color: var(--color-white);
    margin-left: 10px;
}

.nav-profile {
    display: flex;
    align-items: center;
}

.nav-profile>a {
    text-decoration: none;
    color: var(--color-white);
    margin-right: 20px;
}

.player-blog-section {
    background-color: var(--color-white);
    width: 870px;
    height: 620px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
}

.player-head {
    color: var(--primary-color);
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.player {
    display: flex;
    align-items: center;

}

.player img {
    width: 56px;
    height: 56px;
}

.player>h3 {
    margin-left: 15px;
}

hr {
    border: 1px solid var(--gray-design);
    margin: 20px 0;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.blog {
    display: flex;

}

.blog-img>img {
    width: 177px;
}

.blog-details {
    margin-left: 10px;
}

.gray-color {
    color: var(--gray-design);
}

.a-name {
    color: var(--primary-color);
}

/* Course Items */
.course-container {
    background-color: var(--color-white);
    width: 870px;
    height: 362px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.course-items {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-item {
    background-color: var(--color-white);
    width: 252px;
    height: 269px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin-top: 10px;
}

.course-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-img>img {
    width: 100%;
}

.rating-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.star-color {
    color: #ffd700;
}

.clock-design {
    display: inline-block;
    background-color: #FFE4E8;
    padding: 5px 8px;
    border-radius: 20px;
    color: #FF4A60;

}

.footer-section {
    margin-top: 40px;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section p {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.fa-brands {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 900;
}

a {
    text-decoration: none;
    margin: 0 5px;
}

@media screen and (max-width:767px) {
    .head-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-profile {
        display: none
    }

    .player-blog-section {
        width: 80%;
        height: 1310px;
    }

    .player-head {
        text-align: center;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 20px;
    }

    .course-container {
        width: 80%;
        height: 1115px;
    }

    .course-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .course-item {
        width: 100%;
        height: 320px;
    }


}

@media screen and (min-width:768px) and (max-width:1023px) {
    .head-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-profile {
        display: none
    }

    .player-blog-section {
        width: 80%;
        height: 1020px;
    }

    .player-head {
        text-align: center;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 20px;
    }

    .course-container {
        width: 80%;
        height: 768px;
    }

    .course-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .course-item {
        width: 100%;
        height: 320px;
    }


}

@media screen and (min-width:1024px) {}